<ion-header>
  <ion-toolbar >
   
   
  </ion-toolbar>
  <style>
    ion-toolbar{--background: #04080F !important; }
    #a{ margin-top:40%;
      color:rgb(255, 255, 255) ;
      font-size:23px ;}
     ion-title{ border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1); }                 
    #b{ margin-top:70px; }
    
  	#c{--background: #04080F;}

    #d{ font-size:20px ;
      background-color: #474d53  !important;}
      #d:hover {
        font-size: 22px;
    }
    
  </style>
</ion-header> 

<ion-content id="c" >
  <h1  id="a"  class="ion-text-center" >welcome to <br> SeeMore</h1>    
    
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-button color="medium"  (click)="gotoCAM()" >CAM</ion-button>
        <ion-button text-center color="medium" id="d"   (click)="gotoSIGNIN()" >Next<ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
    </ion-toolbar>
  </ion-footer>